# Arquivos do SO
.DS_Store

# Composer
/vendor/
/composer.lock

# Arquivos de ambiente
.env
# cobre .env.staging, .env.testing, etc.
.env.*
!.env.example

# IDEs
.idea/
.vscode/

# Logs / temporários
*.log
*.tmp

# Docker overrides
# deixado aqui por fins didáticos
#/docker-compose.override.yml

/.phpunit.result.cache
/.phpunit.cache
/storage